/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Lato:wght@100;300;400&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: 'AR One Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Playpen Sans', cursive;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
}

body{
  height: 100%;
}
body,
p,
h1,
h2,
h3 {
  margin: 0;
}

a{
  text-decoration: none;
  color:black
}

/*
** @ Keyframes
** @ transitions
*/
@keyframes apper {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
